body {
  background-image: url("flag.jpg");
  backgroud-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: sans-serif;
  text-align: center;
}

p {
  padding-left: 30px;
}

h2,p, strong {
  font-family: sans-serif;
  text-align: left;
}

hr {
  border-color: white;
}

.profile-image {
  opacity: 1;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 85px;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.profile-image img {
  width: 100%;
  height: auto;
}

.profile-title, .profile-content {
  background-color: white;
  opacity: 0.5;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  padding: 50px, 20px, 20px, 50px;
}

.profile-title{
  padding-top: 75px;
  padding-right: 20px;
  padding-bottom:20px;
  padding-left: 20px;
  position: relative;
  z-index: -1;
}

.profile-content{
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}
