body {
  font-family: Helvetica;
  background: url(flag.jpg);
}

.profile-image {
  position: relative;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin-top: 110px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -100px;
}

.profile-image img {
  width: 100%;
  height: auto;
}

.profile-title {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.profile{
  margin-top: 45px;
  margin-left: 300px;
  margin-right: 300px;
}


.profile-content{
  background-color: rgba(255, 255, 255, 0.6);
  margin-top: -250px;
}

.profile-description{
  padding-top: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
