body {
  background-color: thistle;
}

title {
  color: coral;
  text-align: center;

}

h1, p {
  font-family: sans-serif;
}

div.description p.first-paragraph {
  font-size: 100px;
  text-align: center;
  border: 1px black solid;
  background-color: lightskyblue;
  padding: 10px;
  margin: 100px;
}

.images {
  text-align: center;
  width: auto;
  height: auto;
}

img {
  margin: 0 auto;
  display: block;
}
Status API Training Shop Blog About
