body{
  font-family: sans-serif;
  background-image: url("flag.jpg");
  background-repeat: no-repeat;
}

div.profile-content{
  text-align: center;
  background: rgba(255, 255, 255, 0.4);
}

div.container{
  padding-left: 350px;
  padding-right: 350px;
  padding-top: 200px;
  padding-bottom: 0px;
}

div.profile-content{
  text-align: left;
  padding: 40px;
  padding-top: 160px;
}

div.profile-image{
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  margin: auto;
  top: 17%;
  left: 45%;
}

div.profile-title{
  text-align: center;
  position: absolute;
  margin: auto;
  top: 35%;
  left: 43%;
}

div.profile-image img{
  width: 150px;
  height: auto;
}
