
  body {
  background-image: url("https://raw.githubusercontent.com/codesail-camp/full-stack-camp/master/week-0/part-2-exercise/flag.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}



div.profile-content {
  background-color: rgba(256,256,256,.5);
  border-radius: 3px;
  width: 355px;
  margin: 0 auto;
  margin-top: -80px;
  padding-top: 70px;
}

div.profile-image{
  position: relative;
  width: 85px;
  height: 85px;
  overflow: hidden;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;

}

div.profile-title{
  text-align: center;
  font-size: 8px;
  margin-top: 0px;
}


body {
  font-family: sans-serif;
}

h2, strong {
  margin-left: 16px;
  font-size: 12px;
}
strong{
  font-size: 7px;
}

p {
  margin-left: 28px;
  margin-right: 28px;
  font-size: 7px;
}
